<% layout('/layouts/boilerplate') %>
<body>
    <h1>Caht with bot</h1>
    <div class="chatting">
        <div class="userchat">
            <P>Hello this is a sample user chat</P>
        </div>
        <div class="aichat">
            <P>Hello this is a sample Ai chat</P>
        </div>
    </div>
</body>
