<% layout('/layouts/boilerplate') %>
<body>
    <h1>Chat with Bot</h1>
    <div id="chat-window">
      <div id="messages">
        <% if (specificChat && specificChat.questions.length > 0) { %>
         <% specificChat.questions.forEach(qa => { %>
          <div class="usermsg"><strong>User:</strong><%= qa.question %></div>
          <div class="aimsg"><strong>Bot:</strong><%= qa.answer %></div>
         <% }) %>
        <% } %>
      </div>
    </div>
  
    <input id="message-input" autocomplete="off" placeholder="Type your message..."/>
    <button onclick="sendMessage()">Send</button>
  
    <script>
      async function sendMessage() {
        const messageInput = document.getElementById('message-input');
        const userMessage = messageInput.value;
  
        // Display the user message in the chat window
        displayMessage("User", userMessage);

        
  
        // Send the message to the backend using fetch
        const response = await fetch(`/chatprocess`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ message: userMessage })
        });
  
        const data = await response.json();
        // Display the bot's response in the chat window
        displayMessage("Bot", data.response);
        
        // Clear the input field
        messageInput.value = '';
      }
  
      function displayMessage(sender, message) {
        const messageDiv = document.createElement('div');
        messageDiv.className = sender.toLowerCase() + 'chat';
        messageDiv.innerHTML = `<strong>${sender}:</strong> ${message}`;
        document.getElementById('messages').appendChild(messageDiv);
      }
    </script>
  </body>