<% layout('/layouts/boilerplate') %>
<body>
    <div class="upload-file">
        <form enctype="multipart/form-data" action="/fdata" method="post">
            <h1>Upload File (PDFs Or Audios OR anythingelse)</h1>
            <input type="file" placeholder="Upload file here" name="file">
            <button>Submit</button>
        </form>
    </div>
</body>